<div class="sidebar">
  <div class="sidebar-logo" style="align:center">
      <!--<img src="http://www.gravatar.com/avatar/{{ site.gravatar_md5 }}" />-->
		<img src="/files/photo.jpg" />
  </div>

  <div class="container">
    <div class="sidebar-about">
   ,   <h2 style="color:rgb(255,255,255,0.8);margin-bottom: 0;margin-top: 0">
        <!--<a href="{{ site.baseurl }}">-->
          {{ site.title }}
        <!--</a>-->
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- contact icons go here --> 
    <!-- <a href="https://github.com/soundaryaramesh/">
      <i class="fa fa-github fa-2x"></i>
    </a> -->
    <a href="https://www.linkedin.com/in/arunamaithi/">
  	  <!-- <i class="fa fa-linkedin fa-2x"></i> -->
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
    <!-- <a style="padding-left:25px;" href="{{ site.url }}/cv.pdf">
  	  <i class="fa fa-address-card fa-2x"></i>
    </a> -->
    <a style="padding-left:25px" href="https://scholar.google.com/citations?user=RZSZVf8AAAAJ&hl=en">
      <i class="fa-brands fa-google-scholar fa-2x"></i>
    </a>

    <a style="padding-left:25px" href="https://www.researchgate.net/profile/Arun-Amaithi-Rajan">
      <i class="fa-brands fa-researchgate fa-2x"></i>
      <!-- <i class="fa-brands fa-google-scholar fa-2x"></i> -->
    </a>
    <!-- <a style="padding-left:25px;" href="https://twitter.com/soundarya05"> -->
  	  <!-- <i class="fa fa-twitter fa-2x"></i> -->
      <!-- <i class="fa-brands fa-square-x-twitter fa-2x"></i>
    </a> -->

  </div>
  <h3>Contact</h3>
<p>
  <i class="fas fa-envelope"></i>
  <strong>Email:</strong>
  <a href="mailto:arunamaithirajan@gmail.com">arunamaithirajan@gmail.com</a>
</p>
<p>
  <i class="fas fa-phone"></i>
  <strong>Phone:</strong>
  <a href="+91 80123 64643">+91 80123 64643</a>
</p>

<h3>Resume</h3>
<a style="padding-left:25px;" href="{{ site.url }}/cv.pdf">
  <i class="fa fa-file-alt fa-2x"></i>
  <!-- <i class="fa fa-address-card fa-2x"></i> -->
  <!-- <i class="fa-solid fa-file-user fa-2x"></i> -->
</a> 
</div>
