<div class="sidebar">
  <div class="sidebar-logo" style="align:center">
      <!--<img src="http://www.gravatar.com/avatar/{{ site.gravatar_md5 }}" />-->
		<img src="/files/photo.jpg" />
  </div>

  <div class="container">
    <div class="sidebar-about">
      <h2 style="color:rgb(255,255,255,1);margin-bottom: 0;margin-top: 0">
        <!--<a href="{{ site.baseurl }}">-->
          {{ site.title }}
        <!--</a>-->
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div style="position: fixed;bottom:2rem;left:2.5rem;right:0">
    <a href="https://www.linkedin.com/in/arunamaithi/">
  	  
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
    <a style="padding-left:25px" href="https://scholar.google.com/citations?user=RZSZVf8AAAAJ&hl=en">
      <i class="fa-brands fa-google-scholar fa-2x"></i>
    </a>

    <a style="padding-left:25px" href="https://www.researchgate.net/profile/Arun-Amaithi-Rajan">
      <i class="fa-brands fa-researchgate fa-2x"></i>
    </a>
    <a style="padding-left:25px;" href="{{ site.url }}/cv.pdf">
      <i class="fa fa-file-alt fa-2x"></i>
    </a>
  </div>
  </div>
<p style="margin:0;margin-left: 20px;">
  <a href="mailto:arunamaithirajan@gmail.com">arunamaithirajan@gmail.com</a>
</p>
<p style="margin-left: 20px;">
  <a href="+91 80123 64643">+91 80123 64643</a>
</p>
<p style="margin-left: 20px;">
  <a href="/cv.pdf" style="text-decoration: underline;">Download Resume</a>
</p>
</div>
